.frase{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media(max-width:900px){
    .frase{
        font-size: 30px !important;
    }
}

@media(max-width:600px){
    .frase{
        font-size: 25px !important;
    }
}