/* caixa com conteudo da curiosidade */

.curiosidades{
    padding: 2%;
    margin: 5%;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    /* formatação do texto */

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
    
}

/* div onde esta texto e imagem da curiosidade */
.conteudo{
    color: black;
    padding: 3%;
    margin: 3%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    display: flex;
    text-align: justify;
    
    /* alinhamento dos elementos dessa div */
    align-items: center;
    justify-content: center;
}

h2{
    color: #f5f5f5;
    /* fixar no centro do topo do pagina */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* imagem da curiosidade */
.conteudo img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-left: 5%;
}

/* quebra de linha quando a tela diminui de tamanho */
@media screen and (max-width: 1000px) {
    .conteudo{
        flex-direction: column;
    }

    .conteudo img{
        width: 200px;
        height: 100px;
        padding: 0;
        display: none;
    }

    .curiosidades{
        font-size: 20px;
    }
}

/* footer */
footer{
    background-color: #12229D;
}
