/* div com conteudo da pagina */
.dificuldade {
  /* alinhar texto no centro da pagina */
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 20px;
    padding: 20px;
}

/* formatação do texto da pagina */
.texto {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 50px;
    padding: 50px;
}

@media(max-width:900px){
    .texto{
        font-size: 30px;
    }

    .btn-lg{
        width:120px !important;
    }

}

@media(max-width:600px){
    .texto{
        font-size: 20px;
    }

    .btn-lg{
        width:100px !important;
    }

}

/* formatacao da caixa dos botoes de dificuldade */
.botoes a{
    width: 200px;
    padding: 15px;
    margin: 20px;
}